<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>Table</title>
		<link rel="stylesheet" href="__PUBLIC__/plugins/layui/css/layui.css" media="all" />
		<link rel="stylesheet" href="__PUBLIC__/css/global.css" media="all">
		<link rel="stylesheet" href="__PUBLIC__/plugins/font-awesome/css/font-awesome.min.css">
	</head>

	<body>
		<div class="admin-main">
		
			<blockquote class="layui-elem-quote">
				<button  class="layui-btn layui-btn-small goback">
					<i class="layui-icon">&#xe608;</i> 返回
				</button>
				<button  class="layui-btn layui-btn-small download">
					<i class="layui-icon">&#xe608;</i> 导出Excel
				</button>

			</blockquote>
			<fieldset class="layui-elem-field">
				<legend>中奖列表</legend>
				<div class="layui-field-box">
				<table class="layui-table">
					  <thead>
					    <tr>
					      <th>#</th>
					      <th>手机号</th>
					      <th>奖品名</th>
						  <th>状态</th>
						  <th>操作</th>
					    </tr> 
					  </thead>
					  <tbody>
					  <foreach name="winning_list" key="k" item="vo">
					    <tr>
					      <td>{$k+1}</td>
					      <td>{$vo.phone}</td>
					      <td>{$vo.pname}</td>
						  <td>{$vo.status_name}</td>
						  <td>
							<a data="{$vo.id}" <eq name="vo.status" value="0">class="layui-btn layui-btn-mini activate"<else/>class="layui-btn layui-btn-mini layui-btn-disabled"</eq> ><i class="layui-icon">&#xe642;</i>确认领取</a>

					      </td>
					    </tr>
					    </foreach>
					  </tbody>
				</table>
			
				</div>
				{$page}
			</fieldset>
			<div class="admin-table-page">
				<div id="page" class="page">

				</div>
			</div>
		</div>
		<script type="text/javascript" src="__PUBLIC__/plugins/layui/layui.js"></script>
		<script>
			layui.use(['laypage','layer','form'], function() {
				var laypage = layui.laypage,
						$ = layui.jquery

				//禁用会员
				$('.activate').click(function(){
					var id = $(this).attr('data');
					var url = "{:U('Lottery/confirmPrize')}";
					layer.confirm('您确定该用户已领到奖了?', {
						icon: 3,
						skin: 'layer-ext-moon',
						btn: ['确认','取消'] //按钮
					}, function(){
						$.post(url,{id:id},function(data){
							if(data.status == 'error'){
								layer.msg(data.msg,{icon: 5});//失败的表情
								return;
							}else{
								layer.msg(data.msg, {
									icon: 6,//成功的表情
									time: 2000 //2秒关闭（如果不配置，默认是3秒）
								}, function(){
									location.reload();
								});
							}
						})
					});
				})



			});
		</script>
	</body>

</html>